components/org.wso2.carbon.identity.sts.mgt.ui/src/main/resources/IdentitySTSAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2464="http://dto.mgt.sts.identity.carbon.wso2.org/xsd" xmlns:ax2465="http://dto.mgt.sts.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mgt.sts.identity.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.sts.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySTSAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.mgt.sts.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentitySTSAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentitySTSAdminServiceException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="readCardIssuerConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="readCardIssuerConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2465:CardIssuerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateCardIssueConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="issuer" nillable="true" type="ax2465:CardIssuerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.sts.identity.carbon.wso2.org/xsd">
            <xs:complexType name="CardIssuerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedTokenTypes" nillable="true" type="ax2464:CardIssuerTokenDTO"/>
                    <xs:element minOccurs="0" name="symmetricBinding" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="validPeriodInDays" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardIssuerTokenDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="supported" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateCardIssueConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:updateCardIssueConfiguration"/>
    </wsdl:message>
    <wsdl:message name="IdentitySTSAdminServiceException">
        <wsdl:part name="parameters" element="ns1:IdentitySTSAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="readCardIssuerConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:readCardIssuerConfiguration"/>
    </wsdl:message>
    <wsdl:message name="readCardIssuerConfigurationResponse">
        <wsdl:part name="parameters" element="ns1:readCardIssuerConfigurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentitySTSAdminServicePortType">
        <wsdl:operation name="updateCardIssueConfiguration">
            <wsdl:input message="tns:updateCardIssueConfigurationRequest" wsaw:Action="urn:updateCardIssueConfiguration"/>
            <wsdl:fault message="tns:IdentitySTSAdminServiceException" name="IdentitySTSAdminServiceException" wsaw:Action="urn:updateCardIssueConfigurationIdentitySTSAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="readCardIssuerConfiguration">
            <wsdl:input message="tns:readCardIssuerConfigurationRequest" wsaw:Action="urn:readCardIssuerConfiguration"/>
            <wsdl:output message="tns:readCardIssuerConfigurationResponse" wsaw:Action="urn:readCardIssuerConfigurationResponse"/>
            <wsdl:fault message="tns:IdentitySTSAdminServiceException" name="IdentitySTSAdminServiceException" wsaw:Action="urn:readCardIssuerConfigurationIdentitySTSAdminServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySTSAdminServiceSoap11Binding" type="tns:IdentitySTSAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateCardIssueConfiguration">
            <soap:operation soapAction="urn:updateCardIssueConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentitySTSAdminServiceException">
                <soap:fault use="literal" name="IdentitySTSAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readCardIssuerConfiguration">
            <soap:operation soapAction="urn:readCardIssuerConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySTSAdminServiceException">
                <soap:fault use="literal" name="IdentitySTSAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySTSAdminServiceSoap12Binding" type="tns:IdentitySTSAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateCardIssueConfiguration">
            <soap12:operation soapAction="urn:updateCardIssueConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentitySTSAdminServiceException">
                <soap12:fault use="literal" name="IdentitySTSAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readCardIssuerConfiguration">
            <soap12:operation soapAction="urn:readCardIssuerConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySTSAdminServiceException">
                <soap12:fault use="literal" name="IdentitySTSAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySTSAdminServiceHttpBinding" type="tns:IdentitySTSAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateCardIssueConfiguration">
            <http:operation location="updateCardIssueConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="readCardIssuerConfiguration">
            <http:operation location="readCardIssuerConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySTSAdminService">
        <wsdl:port name="IdentitySTSAdminServiceHttpsSoap11Endpoint" binding="tns:IdentitySTSAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySTSAdminServiceHttpsSoap12Endpoint" binding="tns:IdentitySTSAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySTSAdminServiceHttpsEndpoint" binding="tns:IdentitySTSAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>